<form action="/create/ <%= @date %>" method="post">
  <div>
    <input id="date" name="date" type="hidden" value="<%= @date %>">
  </div>
  <div>
    <label for="exercise">Exercise</label>
    <input id="exercise" name="exercise" type="text">
  </div>
  <div>
    <label for="reps">Reps</label>
    <input id="reps" name="reps" type="number" min="0">
  </div>
  <div>
    <label for="weight">Weight</label>
    <input id="weight" name="weight" type="number" min="0" step="2.5">
  </div>

  <button type="submit">Add Exercise</button>
</form>
